/* @import */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Variable Storage */
:root {
    --fadx-blue: #001854;
    --fadx-black: #221f1f;
    --fadx-white: #ffffff;
}

/* Root Definitions */
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: var(--fadx-blue);
    
    padding: 4em 10%;
}

h1 {
    font-size: 4em;
    font-weight: 900;

    padding-bottom: 0.6em;
}

h2 {
    font-size: 3.5em;
    font-weight: 700;

    padding-bottom: 0.4em;
}

h3 {
    font-size: 3em;
    font-weight: 400;

    padding-bottom: 0.3em;
}

h4 {
    font-size: 1.5em;
}

h5 {

}

h6 {
    font-size: 2em;
}

p {
    font-size: 1.6em;
    font-weight: 300;

    line-height: 1.5;
    padding-bottom: 1em;
}

a {
    color: var(--fadx-black);
}

li {
    font-size: 1.5em;
}

.section {
    margin-top: 10em;
}


/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 1.5em;
    width: 4em;
    color: rgba(0, 0, 0, 0);

    background-image: url("../img/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.social-icons {
    display: flex;
    justify-content: right;
    color: var(--fadx-black);
}

.social-icons i {
    font-size: 2.5em;
    padding: 0 0.7em;
}

#hero {
    border-bottom: var(--fadx-black) 2px solid;
}

.hero-image {
    width: 100%;
    padding: 12em 0 5em 0;
}

.hero-details {
    display: flex;
    justify-content: center;
    color: var(--fadx-black);
}

.hero-details li {
    padding: 0 1em;
}

.call-action {
    padding: 0.6em 1.2em;
    width: 5em;

    margin: 6em auto 6em auto;

    color: var(--fadx-white);
    background-color: var(--fadx-blue);
    border-radius: 0.5em;

    font-weight: 600;
    text-align: center;
    line-height: 1.3;
}

/* Students */
#students {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 260px));
    justify-content: space-between;
    gap: 2em;
    width: 100%;
    /* padding-bottom: 10em; */
    max-width: 100vw;
}

.card{
    border-radius: 12px;
    border: 3px solid #001854;
    background-color: #00185436;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1em;
    display: flex;
    flex-direction: column;
    row-gap: 0.7em;
}

#IxD, #ID, #VC{
    position: relative;
    border: 3px solid transparent;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.813);
    background-clip: padding-box;
    padding: 10px;
}

#IxD::after, #ID::after, #VC::after {
    position: absolute;
    top: -3px; bottom: -3px;
    left: -3px; right: -3px;
    content: '';
    z-index: -1;
    border-radius: 12px;
}

#IxD::after{
    background: linear-gradient(rgb(221, 0, 255), rgb(115, 0, 255));
}

#ID::after{
    background: linear-gradient(rgb(255, 162, 0), rgb(223, 71, 0));
}

#VC::after{
    background: linear-gradient(rgb(86, 241, 255), rgb(0, 255, 123));
}

.card .social-icons{
    justify-content: center;
    flex-direction: row;
    font-size: 0.7em;
    padding: 0.7em;
}

.card h4{
    display: inline-block;
    padding: 0;
}

.card img{
    border-radius: 8px;
    width: 100%;
    height: auto;
    width: auto;
}


/* About */
#about {
    display: flex;
    justify-content: space-between;
}

.about-para {
    padding-right: 5em;
    width: 50%;
}

.company img{
    width: 100%;
    height: 100%;
}

.company{
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding-bottom: 10em;
}

.item1{
    grid-column: 1 / span 3;
}

.item2{
    grid-column: 4 / span 3;
}

.item3{
    grid-column: 1 / span 2;
}

.item4{
    grid-column: 3 / span 2;
}

.item5{
    grid-column: 5 / span 2;
}

.end{
    border-top: var(--fadx-black) 2px solid;
    display: grid;
    grid-template-columns: 50% 50%;
}

.end img{
    padding-top: 5em;
    width: 70%;
    height: 60%;
}

.end p{
    padding-top: 3em;
}